body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 15px 100px 100px 100px;
    gap: 80px;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-top {
    display: flex;
    gap: 30px;
}

.content-top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.secondary-text, li, adv-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    color: #F9F8FA;
    font-weight: 900;
}

.sign-button {
    background-color: #3882F6;
    border: 0;
    border-radius: 3px;
    color: #F9F8FA;
    text-align: center;
    width: 80px;
    height: 30px;
}

.image-top-placeholder {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 140);
    width: 850px;
    height: 250px;
}

.illustartion-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 36px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 42px;
    padding-bottom: 86px;
}

.illustration-block {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.small-image {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    border: 5px solid #3882F6;
}

.text-under-image {
    color: grey;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 112px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
}

.bottom {
    padding: 100px;
}

.adv-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 36px 12px;
}

.box-text {
    display: flex;
    flex-direction: column;
    color: #F9F8FA;
}

.adv-header {
    font-size: 18px;
    font-weight: 600;
}

.adv-button {
    background-color: inherit;
    color: #F9F8FA;
    border-radius: 5px;
    border: 2px solid #F9F8FA;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}